* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.fa-play-circle {
	margin-left: 300px;
	margin-right: 0px;
	/*border: 1px solid black;*/
	border-radius: 5px;
	padding: 6px 8px;
	background-color: #333333;
}

.navbar {
	z-index: 1;
}

ul .navbar-nav {
	margin-left: -300px;
}

#btnDownload {
	font-size: 12px;
	margin-left: 125px;
	background-color: #333333;
}

.navbar-nav .nav-item {
	border-left: dotted gray 1px;
	color: #f1f1f1;
}

/*.navbar-nav .nav-item a {
	color: #f1f1f1;
}*/

.navbar-nav .nav-item a:hover, a:visited {
	color: #0000ff;
}

#subsection1-1 {
	z-index: -1;
}

#subsection2-1 {
	padding-left: 5vh;
	padding-top: 40vh;
	padding-bottom: 30vh;
}

#subsection2-2 {
	padding-top: 28vh;
	padding-bottom: 20vh;
}

#subsection3-1 {
	padding-left: 100px;
}

#subsection3-2 {
	/*padding-left: 90px;*/
}

#subsection3-1 {
	margin-top: 43px;
}

#subsection3-2 {
	margin-top: 330px;
}

#subsection-4 {
	margin-top: 125px;
	/*padding: 20vh 30vh 0vh 30vh;*/
}

#solution {
	/*margin: 30vh 50vh 0vh 40vh;*/
	margin: 250px 0px 5px 485px;
	/*margin-right: 20vh;*/
}

ul .nav li {
	font-size: 20px;
}

/*#image-section-1 {
	height: 100vh;
	background-image: url(assets/images/in-paradise-whitehaven-beach-in-the-whitsundays_2.jpeg);
}*/

/*.classname img {
	background:url(‘../foldername/filename.jpg’) 0px 0px no-repeat;
	background-size:contain/cover;
}*/

/*.container-fluid {

}*/

h3 {
	margin-left: 75px;
}

/*#section-1 img:hover {
	animation-name: zoom
	
}*/

#section-1 img {
	height: 100vh;
	position: relative;
	width: auto;
	max-width: 100% ;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
	background-repeat: no-repeat;
	z-index: 0;

	/*background-color: blue;*/
	/*background: url("whitsunday-island.jpg");*/
	/*background-size:contain/cover;*/
	/*background-image: url("/assets/images/whitsunday-island.jpg");*/
	/*background-image: url("whitsunday-island.jpg");*/
	/*background-repeat: no-repeat, repeat;*/
	/*background: url('assets/images/whitsunday-island.jpg');*/
	/*background: url('img/someimage.jpg');*/

	/*background-image: url('assets/images/whitsunday-island.jpg');*/
	/*background-size: cover;*/
	/*padding-right: -15px;
	padding-left: -15px;*/

	/*background: url('assets/images/whitsunday-island.jpg') cover no-repeat;*/
	/*background: url('assets/images/whitsunday-island.jpg') no-repeat;*/
}

#section-1 {
	padding: 0px 0px 0px 0px;
	/*background: url(assets/images/whitsundays-2.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
	width: auto;
	max-width: 100% ;*/
	/*background-color: blue;
	height: 100vh;*/
	/*width: 100vw;*/
}

#section-2 {
	background: #1A2980;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*background: #314755;*/  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to top, #26a0da, #314755);*/  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to top, #26a0da, #314755);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*background-color: #00578a;*/
	height: 100vh;
	/*width: 100vw;*/
}

#section-3 {
	background-color: #19527F;
	height: 100vh;
	/*width: 100vw;*/
}

#section-4 {
	background-color: #004b76;
	height: 100vh;
	/*width: 100vw;*/
}

.navbar-nav .nav-item a:active, a:visited {
	background-color: #d8ccc0;
	color: #000000;
}

.navbar-nav .nav-item {
	color: white;
}

.sidenav {
  height: 100%;
  width: 130px;
  position: fixed;
  top: 0;
  right: 0;
  /*background: transparent;*/
  overflow-x: hidden;
  padding-top: 20vh;
  z-index: 2;
}

.sidenav a {
  padding: 50px 8px 50px 16px;
  text-decoration: none;
  font-size: 15px;
  /*color: #818181;*/
  display: block;
}

.sidenav a {
  color: #f1f1f1;
}

.sidenav a:hover, a:visited {
  color: #0000ff;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#bottomNav a {
	/*border:1px solid #ccc;
    border-width:1px 0;*/
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#bottomNav li {
	display:inline;
}

#bottomNav a {
	display:inline-block;
    padding: 20px;
}